.bg-purple{
    background-color: #4c0bce;
}
.header-content{
    display: flex;
    justify-content: space-evenly;
}
.header-content a{
    color: aliceblue;
}
body{
    background-color: #15172a;
}
p,h1,h2,a{
    color:aliceblue;
}
.double-box-1{
    padding-right: 5%;
    border-right: 1px solid grey;
}
.double-box-2{
    padding-left:5% ;
}
@media (max-width:768px){
    .double-box-1{
        padding-right: 0;
        border-right: 0;
        padding: 5%;
    }
    .double-box-2{
        padding-left:0 ;
        padding: 5%;
    }
}